@font-face {
  font-family: "F1-Regular";
  src: local("F1-Regular"), url("./fonts//Formula1-Regular.ttf") format("truetype");
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App{
  font-family: 'F1-Regular';
}

.main-container {
  padding: 4rem;
  background-image: url('./bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 95vh;
}

.main-container h1, .main-container h2{
  text-align: center;
}

.footer-disclaimer{
  font-size: 12px;
  text-align: center;
  margin: 0;
}

.countdown{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0
}

.countdown-text{
  color: rgb(255, 0, 0);
}

.welcome-msg, .countdown h2, .current-standing h2{
  color:white
}

.current-standing{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
}

.header{
  padding-top: 2rem;
}
.query-result{
  padding: 4rem;
}

.dropdown-menu.show{
  max-height: 30vh;
  overflow: scroll;
}
.latest-race{
  background-color: rgba(255, 255, 255, 0.50);
  border-radius: 15px;
}
.latest-race-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem;
}
.table-responsive{
  min-width: 100%;
}
.latest-race a{
  color: black;
  text-decoration: none;
}
.query-container{
  background-color: rgba(255, 255, 255, 0.50);
  border-radius: 15px;
  min-height: 80vh;
}

@media screen and (min-width: 768px) {
  .card{
    min-height: 285px;
  }
}

@media screen and (min-width: 992px) {
  .card{
    min-height: 310px;
  }
}