body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main-container {
  padding: 4rem;
  background-image: url('./bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 95vh;
}

.main-container h1{
  text-align: center;
}

.footer-disclaimer{
  font-size: 12px;
  text-align: right;
  margin: 0;
}

.countdown{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0
}

.countdown-text{
  color: rgb(255, 0, 0);
}

.welcome-msg, .countdown h2, .current-standing h2, .latest-race h2{
  color:white
}
.latest-race a{
  color: white;
  text-decoration: none;
}

.current-standing{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
}

.query-result{
  padding-top: 4rem;
}

.driver-img{
  width: 200px;
}

.dropdown-menu.show{
  max-height: 30vh;
  overflow: scroll;
}
.latest-race{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 0;
}
.previous-season{
  background-color: white;
}
.current-season{
  background-color: white;
}
.table-nav{
  display: flex;
  justify-content: space-evenly;
}


@media screen and (min-width: 768px) {
  .card{
    min-height: 285px;
  }
}

@media screen and (min-width: 992px) {
  .card{
    min-height: 310px;
  }
}