body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  display: grid;
  /* height: 100vh; */
  grid-template-rows: 50px 1fr 50px;
}

nav {

}

main {

}

footer {

}

* {
  border: 1px solid black
}
.current-standing{
  background-color: lightpink;
}
.current-standing-list{
  display: grid;
  grid-template-columns: 300px 300px 300px
}
.driver-img{
  width: 200px;
}


.latest-race{
  background-color: lightpink;
}

/* 2022 season team colors */
/* Mercedes	#00D2BE	0,210,90 */
.mercedes {
  color: #00D2BE;
}
/* Ferrari	#DC0000	220,0,0 */
.ferrari {
  color: #DC0000;
}
/* Red Bull Racing	#0600EF	6,0,239 */
.red_bull{
  color: #0600EF;	
}
/* Alpine	#0090FF	0,144,255 */
.alpine {
  color: #0090ff;
}
/* Haas	#FFFFFF	255,255,255 */
.haas{
  color: #FFFFFF
}
/* AlphaTauri	#2B4562	43,69,98 */
.alphatauri{
  color: #2B4562
}
/* Aston Martin	#006F62	0,111,98 */
.aston_martin{
  color: #006F62
}

/* McLaren	#FF8700	255,135,0 */
.mclaren{
  color: #FF8700
}
/* Alfa Romeo Racing	#900000	144,0,0 */
.alfa{
  color: #900000
}
/* Williams	#005AFF	0,90,255 */
.williams{
  color: #005AFF
}